/*Home Page*/

.skinHeader.focuscontainer-x.skinHeader-withBackground {
    justify-content: center;
	background-image: linear-gradient(rgba(0,0,0,.5), transparent);
}

.headerTabs.sectionTabs {
    display: flex;
    justify-content: center;
}

@media (min-width: 50em) {
    .headerTabs.sectionTabs {
        margin-top: -3.8em;
    	margin-bottom: 0.5em;
    }
}

.emby-tabs-slider {
    white-space: nowrap;
    background: black;
    border-radius: 50px
}

.emby-tab-button.emby-button.emby-tab-button-active {
    color: white;
    background: grey;
    border-radius: 50px;
}

.emby-tab-button.emby-button {
    line-height: 0em;
    margin: 0.4em;
    padding: 1.2em;
}

::-webkit-scrollbar {
	width: .3em !important;
}

.mdl-spinner {
	zoom: .5;
}

.libraryPage:not(.noSecondaryNavPage) {
    padding-top: 6em!important;
}

.mainAnimatedPages:not(.hide) .itemsContainer-finepointerwrap {
	flex-wrap: initial !important;
	-webkit-flex-wrap: initial !important;
}

.mainAnimatedPages:not(.hide) .section0 {
	z-index: 2;
}

.mainAnimatedPages:not(.hide) .section0 .cardText {
	position: absolute;
	top: 0;
	display: none; /* 如果不需要媒体库标题显示, 请将flex改为none */
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: rgba(0, 0, 0, .5);
	font-weight: bolder;
	font-size: larger;
	border-radius: 0.3em;
	transition: .2s;
	opacity: 0;
}

.mainAnimatedPages:not(.hide) .section0 .backdropCard:hover .cardText {
	opacity: 1;
}

.mainAnimatedPages:not(.hide) .section0 .cardText button {
	text-decoration: none;
}

.mainAnimatedPages:not(.hide) .section0 .cardOverlayContainer {
	background: none;
}

.mainAnimatedPages:not(.hide) .section0 .cardOverlayContainer label,
.mainAnimatedPages:not(.hide) .section0 .sectionTitleContainer {
	display: none !important;
}

.mainAnimatedPages:not(.hide) .section0 .cardBox-touchzoom {
	box-shadow: 0 8px 10px rgb(0 0 0 / 15%);
}

.mainAnimatedPages:not(.hide) .section0 .backdropCard {
	transition: all 1.5s cubic-bezier(0, 1.75, .25, 1) 0s;
}

.mainAnimatedPages:not(.hide) .section0 .backdropCard:hover {
	transform: scale(1.1) !important;
}

.mainAnimatedPages:not(.hide) .section0 .scrollbuttoncontainer {
	top: 0;
	bottom: calc(.8em - min(.72em, max(.48em, 1.78vw)) / 2);
	background-color: rgba(0, 0, 0, 0);
	overflow: visible;
}

.mainAnimatedPages:not(.hide) .section0 .scrollbuttoncontainer:hover > .emby-scrollbuttons-scrollbutton{
	background-color: rgba(0, 0, 0, .5);
	transform: scale(.85) !important;
}

.tabs-viewmenubar-backgroundcontainer:not(.tabs-viewmenubar-backgroundcontainer-tv) {
	background: 0 0 !important;
	-webkit-backdrop-filter: blur(10px) !important;
	backdrop-filter: blur(10px) !important;
}

.misty-banner {
	position: relative;
	overflow: hidden;
	margin-top: -100px;
}

.misty-banner-cover {
	width: 100%;
	max-height: 100vh;
	user-select: none;
	object-fit: cover;
	-webkit-mask-image: linear-gradient(to top, transparent 0%, black 30%);
	mask-image: linear-gradient(to top, transparent 0%, black 30%);
}

.misty-banner-logo {
	user-select: none;
	object-fit: contain;
	height: clamp(0rem, -2.182rem + 10.91vw, 6rem);
	max-width: 16vw;
	transform: translateY(calc(-50% - clamp(-2rem, -3.455rem + 7.27vw, 2rem)));
	right: calc(3.4% + min(0.72em, max(0.48em, 1.78vw)));
	opacity: 0;
	transition: 1s;
	transition-delay: .8s;
}

.misty-banner-logo.active {
	transform: translateY(calc(-100% - clamp(-2rem, -3.455rem + 7.27vw, 2rem)));
	opacity: 1;
	cursor: pointer;
}

.misty-loading {
	z-index: 99999999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 1);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.misty-loading h1 {
	margin: 0;
	margin-bottom: 3rem;
	text-transform: uppercase;
	transition: .8s;
	transform: scale(1.15);
	opacity: 0;
}

.misty-loading h1.active {
	transform: scale(1);
	opacity: 1;
}

.misty-loading .mdl-spinner {
	margin: 0;
	position: initial;
}

.misty-loading .mdl-spinner__layer-1 {
	border-color: #fff;
}

.misty-banner-library {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	padding: clamp(0rem, -1.313rem + 3.75vw, 1.5rem) 0;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	/* background-image: linear-gradient(90deg, rgba(0, 0, 0, .6), transparent); */
}

.misty-banner-body {
	display: flex;
	position: relative;
	left: 0;
	transition: all 1.5s cubic-bezier(0.15, 0.07, 0, 1) 0s;
}

.misty-banner-item {
	min-width: 100%;
}

.misty-banner-info {
	width: 100%;
	margin: min(.72em, max(.48em, 1.78vw));
	position: absolute;
	top: 15em;
	z-index: 1;
	height: 100%;
	height: -webkit-fill-available;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1.0);
}

.misty-banner-info > * {
	transition: all 2.5s cubic-bezier(0, 1.41, 0.36, 0.93) .4s;
	transform: translateY(150%);
	opacity: 0 !important;
}

.misty-banner-item.active .misty-banner-info > * {
	transform: translateY(0);
	opacity: 1 !important;
}

.misty-banner-info > div:nth-child(2) {
	transition-delay: .6s;
}
.misty-banner-info > div:nth-child(3) {
	transition-delay: .8s;
}

.misty-banner-info p {
	color: #fcfafec5 !important;
	font-size: clamp(.6rem, .4rem + 1vw, 1.6rem);
	font-weight: bold;
	max-width: 35%;
	display: -webkit-box !important;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	cursor: pointer;
}

.misty-banner-info p strong {
	color: #fff !important;
    text-shadow: 2px 2px 2px #000000;
    font-size: 1.2em;
    margin-left: 0.5rem;
    margin-right: 0.8rem;
}


.misty-banner-info button {
	cursor: pointer;
	width: 7em;
    height: 2.2em;
	border-radius: 1.5em;
	color: #fff;
	background: rgba(0, 0, 0, .5);
	border: none;
	margin-top: clamp(0rem, -2.625rem + 7.5vw, 3rem);
	font-size: clamp(.6rem, -.275rem + 2.5vw, 1.6rem);
	letter-spacing: 2px;
	font-family: system-ui;
	transition: .2s;
}

.misty-banner-info button:hover{
	transform: scale(.95);
}

@media screen and (max-width: 62.5em) {
	.misty-banner-info {
		display: block;
		top: 5em;
	}

	.misty-banner-info button {
		margin-top: 0;
	}
}
@media (max-width: 52em) {
	.misty-banner-info button,
	.misty-banner-info p {
		display: none;
	}
}

@media (max-width: 35em) {
	.misty-banner-info,
	.misty-banner-logo 	{
		display: none !important;
	}
	.misty-banner-body {
		opacity: 0;
	}
	.misty-banner {
		margin-top: 0;
    }
	.misty-banner-nav {
		display: none !important;
	}
}

.misty-banner .backdropCard {
	transition-duration: 0;
	transform: translateY(80%);
	opacity: 0;
}

.misty-banner-library-show {
	transition-duration: 1.7s !important;
	transform: translateY(0) !important;
	opacity: 1 !important;
}

.misty-banner-library-overflow {
	overflow: visible !important;
}

.misty-banner-nav {
	position: absolute;
	top: 33%;
	font-size: 1.5em;
	color: white;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.3);
	padding: 0.2em;
	cursor: pointer;
	border-radius: 50%;
	user-select: none;
	transition: background 0.3s;
	transform: translateY(-50%);
	z-index: 5;
}
.misty-banner-nav:hover {
	background: rgba(0, 0, 0, 0.6);
}
.misty-banner-prev {
	left: 1%;
}
.misty-banner-next {
	right: 1%;
}

.noBackdropTransparency .detailPageSecondaryContainer {
	background: none;
}

.detailPagePrimaryContainer.padded-left.padded-right.detailRibbon {
	background: transparent;
}

.detailPagePrimaryContainer.padded-left.padded-right.detailRibbon>.infoWrapper {
	border-bottom: 1px solid lightslategray;
	margin-bottom: -1px;
	padding-bottom: 1px;
}

.mainAnimatedPages:not(.hide) .section0 .cardText {
	display: block;
	background-color: transparent !important;
	opacity: 1 !important;
	position: relative !important;
}

/*other Page*/

.skinHeader.semiTransparent.noHeaderRight {
	background: transparent !important;
}
